ul.familylisting {
  margin-inline-start: 0;
  margin-block: 1px;
}

:where(ol, ul) {
  padding-inline: 1em;
}

.familylisting li {
  display: block;
  list-style: none;
  margin-left: 2px;
  padding-left: 0;
  border-left: solid 0.1em var(--sl-color-accent);
}

iconify-icon {
  padding-left: 1.5px;
}
