[submodule "packages/backend"]
	branch = main
	path = packages/backend
	url = git@github.com:lschierer/Game-EvonyTKR.git
	update = rebase
[submodule "packages/frontend"]
	branch = main
	update = rebase
	path = packages/frontend
	url = git@github.com:lschierer/evonytkrtips-frontend.git
[submodule "packages/frontend2"]
	path = packages/frontend2
	update = rebase
	url = git@github.com:lschierer/evonytkrtips-frontend2.git
	branch = main
