div.general h2 {
  text-align: center;
}
div.basicInfo {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 5rem;
}

ul.baseStats,
ul.baseStats ul,
ul.baseInfo,
ul.baseInfo ul {
  padding-inline-start: 1rem;
}

div.BookBuffs {
  & ul.buffList {
    padding-inline-start: 1rem;
    column-count: 2;

    & ul {
      padding-inline-start: 0px;
      list-style: none;
    }
  }
}

div.AscendingDetails {
  margin-top: 1.5rem;
}
div.Specialities {
  margin-top: 3rem;
}

div.AscendingDetails table,
div.Specialities table {
  margin-top: 1.5rem;
  border: 1px solid var(--sl-color-accent);
  border-collapse: collapse;
  width: 100%;

  & tbody {
    border-top: 1px solid var(--sl-color-accent);
    & td {
      border-left: 1px solid var(--sl-color-accent);
      vertical-align: top;
      & ul {
        margin-block-start: 0.5rem;
        margin-block-end: 0px;
        padding-inline-start: 0.5rem;
        list-style: none;
      }
    }

    & tr {
    }
    & tr.Green {
      background: var(--spectrum-green-200);
    }
    & tr.Blue {
      background-color: var(--spectrum-blue-200);
    }
    & tr.Purple {
      background-color: var(--spectrum-purple-200);
    }
    & tr.Orange {
      background-color: var(--spectrum-orange-200);
    }
    & tr.Gold {
      background-color: var(--spectrum-yellow-200);
    }
  }
}
