@import "@spectrum-css/tokens";
@import "@spectrum-css/typography";
@import "@spectrum-css/icon";
@import "@spectrum-css/page";
@import "@spectrum-css/link";
@import "@spectrum-css/actionbutton";
@import "@spectrum-css/button";

/*  Default Colors */
:root,
::backdrop {
  --sl-color-accent: var(--spectrum-cyan-700);
}

/* I find I prefer less color range between high and low in dark mode */

/* Light mode colors. */
:root[data-theme="light"],
[data-theme="light"] ::backdrop {
  --sl-color-accent-high: var(--spectrum-cyan-1000);
  --sl-color-accent-low: var(--spectrum-cyan-400);
}
/* Dark mode colors. */
:root[data-theme="dark"],
[data-theme="dark"] ::backdrop {
  --sl-color-accent-high: var(--spectrum-cyan-900);
  --sl-color-accent-low: var(--spectrum-cyan-500);
}

html {
  width: auto;
  height: auto;
}

body {
  color: var(--sl-color-black);

  --mod-body-font-color: var(--sl-color-black);
  --mod-heading-font-color: var(--sl-color-accent);
}

header h1.spectrum-Heading {
  text-align: center;
}

main h1#_top {
  color: var(--sl-color-accent-low);
}
