div.footer {
  width: 100%;
  background-color: var(--sl-color-accent-high);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  --spectrum-detail-color: var(--sl-color-accent-low);
  --spectrum-accent-content-color-default: var(--sl-color-accent-low);
}

span.privacy {
  margin-left: 5rem;
  margin-right: 5rem;
}

span.copyright {
  margin-right: 5rem;
}
