@import "@spectrum-css/tokens/dist/index.css";
@import "@spectrum-css/typography/dist/index.css";
@import "@spectrum-css/icon/dist/index.css";
@import "@spectrum-css/page/dist/index.css";
@import "@spectrum-css/link/dist/index.css";
@import "@spectrum-css/actionbutton/dist/index.css";
@import "@spectrum-css/button/dist/index.css";

/*  Default Colors*/
:root,
::backdrop {
  --sl-color-accent: var(--spectrum-cyan-700);
  --sl-color-bg: var(--spectrum-background-base-color);

  --sl-color-white: var(--spectrum-gray-50);
  --sl-color-gray-1: var(--spectrum-gray-200);
  --sl-color-gray-2: var(--spectrum-gray-300);
  --sl-color-gray-3: var(--spectrum-gray-400);
  --sl-color-gray-4: var(--spectrum-gray-500);
  --sl-color-gray-5: var(--spectrum-gray-600);
  --sl-color-gray-6: var(--spectrum-gray-700);
  --sl-color-gray-7: var(--spectrum-gray-800);
  --sl-color-black: var(--spectrum-gray-900);
}

/* I find I prefer less color range between high and low in dark mode*/

/* Light mode colors. */
:root[data-theme="light"],
[data-theme="light"] ::backdrop {
  --sl-color-accent-high: var(--spectrum-cyan-1000);
  --sl-color-accent-low: var(--spectrum-cyan-400);
}
/* Dark mode colors. */
:root[data-theme="dark"],
[data-theme="dark"] ::backdrop {
  --sl-color-accent-high: var(--spectrum-cyan-900);
  --sl-color-accent-low: var(--spectrum-cyan-500);
}

html {
  width: auto;
}
body {
  margin: 0px;
  width: auto;
  text: var(--sl-color-white);
  --mod-body-font-color: var(--sl-color-white);
  --mod-heading-font-color: var(--sl-color-accent);
}

sp-theme {
  z-index: 0;
}

header h1.spectrum-Heading {
  text-align: center;
}
main {
  z-index: 1;
  margin: 8px;
}

body div.main {
  display: flex;
  flex-direction: row;
}
.sidebar-pane {
  scrollbar-color: var(--sl-color-accent-low) var(--sl-color-bg);
}

main h1#_top {
  color: var(--sl-color-accent-low);
}
