@import "@spectrum-css/tokens/dist/index.css";
@import "@spectrum-css/typography/dist/index.css";
@import "@spectrum-css/page/dist/index.css";

/* Dark mode colors. */
:root,
::backdrop {
  /* in dark mode, the colors do *not* appear to be backwards the way they do for light mode*/
  --sl-color-accent-high: var(--spectrum-cyan-1000);
  --sl-color-accent: var(--spectrum-cyan-500);
  --sl-color-accent-low: var(--spectrum-cyan-400);
  --sl-color-bg: var(--spectrum-background-base-color);

  --sl-color-white: var(--spectrum-gray-900);
  --sl-color-gray-1: var(--spectrum-gray-800);
  --sl-color-gray-2: var(--spectrum-gray-700);
  --sl-color-gray-3: var(--spectrum-gray-800);
  --sl-color-gray-4: var(--spectrum-gray-600);
  --sl-color-gray-5: var(--spectrum-gray-500);
  --sl-color-gray-6: var(--spectrum-gray-400);
  --sl-color-gray-7: var(--spectrum-gray-200);
  --sl-color-black: var(--spectrum-gray-50);
}
/* Light mode colors. */
:root[data-theme="light"],
[data-theme="light"] ::backdrop {
  --sl-color-accent-high: var(--spectrum-cyan-1000);
  --sl-color-accent: var(--spectrum-cyan-700);
  --sl-color-accent-low: var(--spectrum-cyan-200);
  --sl-color-bg: var(--spectrum-background-base-color);

  /* I do not understand why starlight color defintions are backwards, black is white and white is black */
  --sl-color-black: var(--spectrum-gray-50);
  --sl-color-gray-7: var(--spectrum-gray-200);
  --sl-color-gray-6: var(--spectrum-gray-300);
  --sl-color-gray-5: var(--spectrum-gray-400);
  --sl-color-gray-4: var(--spectrum-gray-500);
  --sl-color-gray-3: var(--spectrum-gray-600);
  --sl-color-gray-2: var(--spectrum-gray-700);
  --sl-color-gray-1: var(--spectrum-gray-800);
  --sl-color-white: var(--spectrum-gray-900);
}

header.header {
  background-color: var(--sl-color-accent-high);
  --spectrum-accent-content-color-default: var(--sl-color-accent-low);
}

.sidebar-pane {
  scrollbar-color: var(--sl-color-accent-low) var(--sl-color-bg);
}
